@charset "UTF-8";
/* ** TABLE OF CONTENT ** */
/* ********************** */
/* ** RESETS           ** */
/* ** BASE             ** */
/* ** NAVIGATION       ** */
/* ** HOME             ** */
/* ** SUBPAGE          ** */
/* ** FOOTER           ** */
/* ********************** */
/* ** RESET ** */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
}

:-webkit-any-link {
  color: black;
}

:-moz-any-link {
  color: black;
}

:any-link {
  color: black;
}

/* ** BASE ** */
@media (max-width: 375px) {
  :root {
    font-size: 0.9rem;
  }
}

html {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

h1,
h2 {
  margin: 0;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

section {
  padding: 4em 0;
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
}

.container.small {
  max-width: 600px;
}

.center {
  text-align: center;
}

.btn {
  display: inline-block;
  cursor: pointer;
  padding: 0.7em 2em;
  -webkit-transition: background-color 250ms ease;
  transition: background-color 250ms ease;
}

.btn a {
  text-decoration: none;
  -webkit-transition: color 250ms ease;
  transition: color 250ms ease;
}

.btn:hover, .btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-primary {
  background-color: #a8ff99;
  border-radius: 10em;
  -webkit-box-shadow: 3px 3px 10px #976d91;
          box-shadow: 3px 3px 10px #976d91;
  -webkit-transition: background-color 250ms ease;
  transition: background-color 250ms ease;
}

.btn-primary:hover, .btn-primary:focus {
  background-color: #ce9efa;
}

.btn-primary:hover .btn-primary__link, .btn-primary:focus .btn-primary__link {
  color: white;
}

.btn-secondary {
  background-color: #fff;
  border-color: transparent;
  border-radius: 10em;
  -webkit-box-shadow: 3px 3px 10px #976d91;
          box-shadow: 3px 3px 10px #976d91;
  margin-top: 2em;
  font-size: 1em;
  -webkit-transition: background-color 250ms ease;
  transition: background-color 250ms ease;
}

.btn-secondary:hover, .btn-secondary:focus {
  background-color: #ce9efa;
  color: white;
}

.section__title {
  text-align: center;
  font-size: 2rem;
  margin: 0 0 1em;
}

@media (min-width: 1060px) {
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .col50 {
    width: 50%;
  }
  .col50 + .col50 {
    margin-left: 2em;
  }
}

span.codedirection {
  unicode-bidi: bidi-override;
  direction: rtl;
}

.more:before {
  content: "Visa fler produkter ";
}

.less:before {
  content: "Visa färre produkter ";
}

/* ** NAVIGATION ** */
header {
  padding: 1.5em 0;
  background-color: rgba(218, 182, 252, 0.5);
  font-size: 1.2rem;
  width: 100%;
}

.brand__link {
  color: black;
  text-decoration: none;
  font-size: 1rem;
}

.brand__title {
  margin: 0.5em 1.3em;
  text-align: center;
}

.brand__title span {
  white-space: nowrap;
}

@media (max-width: 374px) {
  .brand__title {
    margin: 0.5em 0;
  }
}

.nav {
  visibility: hidden;
  height: 0;
  width: 100%;
  position: absolute;
  width: 100%;
  font-size: 1rem;
  padding: 0.5em 0;
}

.nav--visible {
  visibility: visible;
  height: auto;
  position: relative;
}

.nav__item {
  margin: 1em 0;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: right;
}

.nav__link {
  display: inline-block;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

.nav__link::after {
  display: block;
  content: "";
  border-bottom: 2px solid #1a001a;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

@media (max-width: 1060px) {
  .nav__link::after {
    border-bottom-color: white;
  }
}

.nav__link:hover:after, .nav__link:focus:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.nav__link.active:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.nav-toggle {
  cursor: pointer;
  border: 0;
  width: 3em;
  height: 3em;
  padding: 0em;
  border-radius: 5px;
  background: #1a001a;
  color: white;
  -webkit-transition: opacity 250ms ease;
  transition: opacity 250ms ease;
  position: absolute;
  right: 0;
  margin-top: -2em;
}

@media (min-width: 638px) {
  .nav-toggle {
    margin-top: 1em;
  }
}

.nav-toggle:focus, .nav-toggle:hover {
  opacity: 0.75;
}

.hamburger {
  width: 50%;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  display: block;
  margin: 0 auto;
  height: 3px;
  background: white;
}

.hamburger::before,
.hamburger::after {
  content: "";
  width: 100%;
}

.hamburger::before {
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
}

.hamburger::after {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

@media (min-width: 1060px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    visibility: visible;
    height: auto;
    position: relative;
  }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 0 0 30px;
  }
  .nav__item {
    margin-left: 2em;
  }
  .nav-toggle {
    display: none;
  }
  .brand__title {
    margin: 0;
  }
  .brand__link {
    text-align: left;
    white-space: nowrap;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

/* ** HOME ** */
.home header {
  position: absolute;
}

@media (max-width: 1060px) {
  .home .nav__link {
    color: white;
  }
}

.hero__image {
  background: url(../images/hero2.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

@supports not (-webkit-touch-callout: none) {
  .hero__image {
    background-attachment: fixed;
  }
}

.hero__container {
  padding: 1em;
  max-width: 800px;
  width: 90%;
  margin: 1.5em auto;
  font-size: 1.5rem;
  margin-top: 135px;
}

@media (max-width: 1000px) {
  .hero__container {
    font-size: 1.1rem;
  }
}

.hero__text {
  -webkit-filter: drop-shadow(1px 1px 3px black);
          filter: drop-shadow(1px 1px 3px black);
  margin-bottom: 1em;
}

.hero__text.focus {
  font-size: 1.2em;
}

.hero__button {
  cursor: pointer;
  margin-top: 0.5em;
}

.behandlingar__image,
.produkter__image {
  border-radius: 100%;
  width: 300px;
  display: block;
  margin: 2em auto 1em;
  border: 5px solid #b8a3b5;
  -webkit-box-shadow: 1px 1px 10px black;
          box-shadow: 1px 1px 10px black;
  -webkit-transition: border-color 250ms ease, -webkit-box-shadow 250ms ease;
  transition: border-color 250ms ease, -webkit-box-shadow 250ms ease;
  transition: border-color 250ms ease, box-shadow 250ms ease;
  transition: border-color 250ms ease, box-shadow 250ms ease, -webkit-box-shadow 250ms ease;
}

.behandlingar__link,
.produkter__link {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  display: contents;
}

.behandlingar__link:hover .section__sub-title::after,
.behandlingar__link:focus .section__sub-title::after,
.produkter__link:hover .section__sub-title::after,
.produkter__link:focus .section__sub-title::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

@media (min-width: 1060px) {
  .behandlingar__link,
  .produkter__link {
    display: block;
  }
}

.behandlingar__link:hover .behandlingar__image,
.behandlingar__link:focus .behandlingar__image,
.produkter__link:hover .behandlingar__image,
.produkter__link:focus .behandlingar__image, .behandlingar__link:hover
.produkter__image,
.behandlingar__link:focus
.produkter__image,
.produkter__link:hover
.produkter__image,
.produkter__link:focus
.produkter__image {
  border-color: #1a001a;
}

.behandlingar .section__sub-title,
.produkter .section__sub-title {
  margin-bottom: 1em;
  display: inline-block;
}

.behandlingar .section__sub-title::after,
.produkter .section__sub-title::after {
  display: block;
  content: "";
  border-bottom: 2px solid #1a001a;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.behandlingar .section__sub-title:hover:after,
.produkter .section__sub-title:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.behandlingar {
  background-color: #eae4f1;
}

.boka {
  background-color: #dab6fc47;
}

.hitta-hit .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hitta-hit .adress {
  margin-top: 2em;
  display: inline-block;
}

.hitta-hit a {
  color: black;
}

.hitta-hit a:hover, .hitta-hit a:focus {
  color: gray;
}

.produkter {
  background: url(../images/pink_drop.jpg);
  background-position: center center;
  background-size: cover;
  position: relative;
}

@supports not (-webkit-touch-callout: none) {
  .produkter {
    background-attachment: fixed;
    background-position: center left 35%;
  }
}

.produkter .dimmer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: white;
  opacity: 0.6;
}

.produkter .moreproducts.hide {
  display: none;
}

.produkter .moreproducts .row {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.om-mig {
  background-color: white;
}

@media (min-width: 1060px) {
  .om-mig {
    text-align: left;
  }
}

@media (min-width: 1060px) {
  .om-mig .container {
    max-width: 700px;
  }
}

.om-mig .col.left {
  margin: 0 auto;
  max-width: 500px;
}

@media (min-width: 1060px) {
  .om-mig .col.left {
    width: 68%;
    max-width: unset;
  }
}

.om-mig .col.right {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  margin: 1em auto 2em;
  width: 100%;
}

@media (min-width: 1060px) {
  .om-mig .col.right {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    margin: 0;
    margin-right: auto;
    width: 32%;
  }
}

.om-mig .profil {
  margin-top: 1em;
  border-radius: 1em;
  width: 220px;
}

.cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1.5em;
}

@media (min-width: 1023px) and (max-width: 1060px) {
  .behandlingar .row,
  .produkter .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .behandlingar__image,
  .produkter__image {
    width: 280px;
  }
}

@media (max-width: mq--large) {
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

/* ** SUBPAGE ** */
.subpage .nav__link::after {
  border-bottom-color: black;
}

.subpage .main .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 2em;
}

.subpage.flex .main .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 2em;
}

.side-nav {
  width: 100%;
  font-size: 0.9rem;
  padding: 0.5em 0;
  background-color: #ce9efa;
}

.side-nav__item {
  margin: 1em 0;
}

.side-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.side-nav__link {
  display: inline-block;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

.side-nav__link::after {
  display: block;
  content: "";
  border-bottom: 2px solid #1a001a;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

@media (max-width: 1060px) {
  .side-nav__link::after {
    border-bottom-color: black;
  }
}

.side-nav__link:hover:after, .side-nav__link:focus:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.side-nav__link.active:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.main__content-left {
  width: 100%;
}

.main__content-right {
  width: 100%;
}

.sidebar__image {
  width: 400px;
  display: block;
  margin: 1.5em auto;
}

.aloe__image {
  width: 100%;
}

.aloe__image img {
  display: block;
  margin: 1em auto;
}

.fl-r {
  float: right;
}

.fl-l {
  float: left;
}

.fl-cb {
  clear: both;
}

@media (min-width: 375px) {
  .side-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: auto;
    position: relative;
  }
  .side-nav__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .side-nav__item {
    margin: 1em;
  }
  .aloe__image {
    width: 274px;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .subpage .main .row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .subpage .main__content-left {
    width: 60%;
    margin-right: 3em;
  }
  .subpage .main__content-right {
    width: 40%;
  }
  .mt4 {
    margin-top: 4em;
  }
}

/* ** FOOTER ** */
.footer {
  background-color: #dab6fc;
  color: black;
  padding: 2em;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

@media (min-width: 1060px) {
  .footer {
    text-align: left;
  }
}

.social {
  height: 1.6em;
  white-space: nowrap;
}

.social a {
  color: black;
  -webkit-transition: color 250ms ease;
  transition: color 250ms ease;
}

.social a:hover, .social a:focus {
  color: #595959;
}

.social span:first-of-type {
  font-size: 1.3em;
  vertical-align: middle;
  margin-right: 0.3em;
}
